// @font-face {
//   // font-family: "NSC-Helvetica";
//   font-family: Helvetica, Arial, sans-serif;
//   src: url("/assets/HelveticaLTStd-Roman.otf");
// }

@font-face {
  font-family: "NSC-BigCaslon";
  src: url("/assets/BigCaslon.ttf");
  font-weight: 200;
}
$font-serif: "NSC-BigCaslon", Times, serif;
// $font-sans: "NSC-Helvetica", Helvetica, Arial, sans-serif;
$font-sans: Helvetica, Arial, sans-serif;