@import './fonts';
@import './mixins';
@import './navigation';
@import './opening-sequence';
@import './page-sequence';


body {
  position: relative;
  margin: 0;

  &.body-index {
    background-color: #FFD9B7;  
  }
  &.body-asian-womxn {
    background-color: #FFF0DC;
  }
  &.body-illustrators {
    background-color: #0B1676;
  }
  &.body-spiritual {
    background-color: #DDD2F5;
  }
  &.body-blog {
    background-color: #0A4D4D;
  }
  &.body-health {
    background-color: #FFE2B7;
  }
  &.body-nightsnack {
    background-color: #C6D2CF;
  }
}

.background-container {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: -1;
}

.background-container .bg-segment {
  height: 33.3333vh;
  width: 0%;
  max-width: 100%;

  &.index {
    background: #fcd7b8;
  }
  &.asian-womxn {
    background: #fff1de;
  }
  &.illustrators {
    background: #0a1772;
  }
  &.spiritual {
    background: #ddd3f3;
  }
  &.blog {
    background: #0f4d4d;
  }
  &.health {
    background: #fee3ba;
  }
  &.nightsnack-club {
    background: #c6d2cf;
  }
  &.thanks {
    background: #fff1de;
  }
}

.scene-wrapper {
  height: 100vh;
  width: 100vw;
  // display: flex;
  // align-items: center;
}

.page-title-container {
  display: block;
  position: relative;
  overflow: hidden;
}

.page-title {
  font-family: $font-sans;
  // font-size: 172px;
  font-size: px-calc(156);
  font-style: normal;
  font-weight: 400;
  // line-height: 191px;
  letter-spacing: px-calc(-10);
  // line-height: 135pt;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  position: relative;

  // transform-origin: center;

  span.blank-char {
    min-width: 50px;
    display: inline-block;
  }
}

.page-title-char {
  display: inline-block;
}

.scene-container {
  width: 100%;
}

.anim-container {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: 48px;
  // padding-bottom: 45pt;
  padding-bottom: 15pt;

  .anim-title {
    position: relative;
    display: inline-block;
    margin: 0;
    // font-size: 125px;
    font-size: px-calc(58);
    line-height: 1.25;
    font-weight: 200;
    z-index: 9;
  }

  .lg-title {
    font-size: px-calc(72);
    letter-spacing: px-calc(-2);
  }

  .thanks-title {
    position: relative;
    display: block;
    margin: 0;
    line-height: 1;
  }
}


// #mouse-follow {
//   position: fixed;
//   left: 0;
//   top:0;
//   padding: 25px;
//   z-index: 999999999999;
//   background: red;
// }

.previous-title {
  width: 100%;
  display: inline-block;
  margin: 0;
  // font-size: 125px;
  font-size: px-calc(58);
  line-height: 1.25;
  font-weight: 200;

  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: -1;
}
.opening-title {
  color: #5e7017;
}
.asian-title {
  color: #F73B35;
}
.illustrators-title {
  color: #FFCEB3;
}
.spiritual-title {
  color: #0B8639;
}
.blog-title {
  color: #C8FFCE;
}
.health-title {
  color: #34AC5D;
}
.nightsnack-title {
  color: #8667FF;
}
.thanks-title {
  color: #5e7017;
}
.anim-subtitle {
  display: inline-block;
}
.thanks-subtitle {
  display: block;
}
.night-snack-club {
  font-family: $font-serif;
  color: #5e7017;
  font-size: 92px;
  font-weight: 200 !important;
  margin: 0;
  line-height: 1;
  text-align: center;
}
.nsc-page-title {
  font-family: $font-serif;
  // font-size: 58px;
  font-style: normal;
  font-weight: 400;
  // line-height: 87px;
  // letter-spacing: -0.02em;
  text-align: center;
}

#skoot {
  width: 0%;
  // min-height: 150px;
  min-height: 100px;
  clip-path: inset(0 0 0 0);

  .current-title {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      cursor: pointer;
    }
  }
}

.anim-title {
  text-align: center;
  margin: 2em 0;

  img {
    width: 80%;
  }
}

.title-container {
  width: 100%;
  position: relative;
  z-index: 8;
}

.year-in-review {
  text-align: center;
  
  h3 {
    font-family: $font-sans;
    font-weight: 400;
    line-height: 100%;
    color: #5e7017;
    margin: 0;

    &.thanks-content {
      font-size: 142px;
    }
    &.intro-content {
      font-size: 212px;
      // font-size: 228px;
      // line-height: 180px;
      // letter-spacing: -4px;
    }
  }
}
.yir-cont {
  &:first-child {
    margin-right: 4em;
  }
}

video {
  width: 80%;
}


.images-well {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &.asian-womxn .targetClass:hover:not(.poster) {
    // filter: drop-shadow(0 0 17px #FF4C24);
    -webkit-box-shadow: 0px 0px 24px 12px #FF4C24; 
    box-shadow: 0px 0px 24px 12px #FF4C24;
  }
  &.illustrators .targetClass:hover:not(.poster) {
    -webkit-box-shadow: 0px 0px 24px 12px #FFCEB3; 
    box-shadow: 0px 0px 24px 12px #FFCEB3;  

    &.drop-shadow {
      -webkit-box-shadow: 0px 0px 0px 0px #FFCEB3; 
      box-shadow: 0px 0px 0px 0px #FFCEB3;
      filter: drop-shadow(0 0 17px #FFCEB3);
    }
  }
  &.blog .targetClass:hover:not(.poster) {
    // filter: drop-shadow(0 0 17px #C8FFCE);
    -webkit-box-shadow: 0px 0px 24px 12px #C8FFCE; 
    box-shadow: 0px 0px 24px 12px #C8FFCE;
  }
  &.health .targetClass:hover:not(.poster) {
    // filter: drop-shadow(0 0 17px #34AC5D);
    -webkit-box-shadow: 0px 0px 24px 12px #34AC5D; 
    box-shadow: 0px 0px 24px 12px #34AC5D;
  }
  &.nightsnack .targetClass:hover:not(.poster) {
    // filter: drop-shadow(0 0 17px #8667FF);
    -webkit-box-shadow: 0px 0px 24px 12px #8667FF; 
    box-shadow: 0px 0px 24px 12px #8667FF;
  }
  &.spiritual .targetClass:hover:not(.poster) {
    // filter: drop-shadow(0 0 17px #0B8639);
    -webkit-box-shadow: 0px 0px 24px 12px #0B8639; 
    box-shadow: 0px 0px 24px 12px #0B8639;
  }
  .images-palette {
    width: 100%;
    height: 100%;
  }
  .targetClass {
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
    transition: 0.75s ease-out;
    z-index: 9;
    height: auto;

    img {
      max-width: 100%;
      max-height: 100%;
      position: relative;
    }

    .project-title {
      display: none;
      // background: red;
      // margin-left: 28px;
      // padding: 10px;
      transform: translate(-50%,-50%);
      position: fixed;
      z-index: 999999999999999999999999999999999;
    }
    .test-relative {
      position: relative;
      width: 100%;
      height: 100%;
    }
    &:hover:not(.poster) {
      z-index: 99999999;
      cursor: crosshair;
      transition: 0.3s ease-out;
      transform: translate(-50%, -50%) scale(1.25);

      .project-title {
        display: block;
      }
    }
    
    &.poster {
      height: 55%;
      left: 50%;
      top: 50%;

      &.aw-poster.inactive-card {
        top: -28%;
      }
      &.ii-poster.inactive-card {
        top: -34%;
      }
      &.ss-poster.inactive-card {
        left: 85%;
        top: 130%;
      }
      &.bw-poster.inactive-card {
        left: 77%;
        top: -30%;
      }
      &.hw-poster.inactive-card {
        left: 37%;
        top: 130%;
      }
      &.ns-poster.inactive-card {
        left: 28%;
        top: 130%;
      }
    }
    &.aw {
      &-1 {
        height: 28%;
        left: 22%;
        top: 32%;
        
        &.inactive-card {
          left: -7%;
          top: -14%;
        }
      }

      &-2 {
        height: 25%;
        left: 13%;
        top: 65%;
        
        &.inactive-card {
          left: -6%;
          top: -58%;
        }
      }

      &-3 {
        height: 44%;
        left: 29%;
        top: 72%;
        
        &.inactive-card {
          left: 30%;
          top: 123%;
        }
      }

      &-4 {
        height: 22%;
        left: 73%;
        top: 30%;
        
        &.inactive-card {
          left: 93%;
          top: -12%;
        }
      }

      &-5 {
        height: 30%;
        right: 17%;
        bottom: 0;
        
        &.inactive-card {
          right: 23%;
          bottom: -46%;
        }
      }

      &-6 {
        height: 28%;
        bottom: 11%;
        right: 2%;
        
        &.inactive-card {
          bottom: -10%;
          right: -20%;
        }
      }  
    }
    &.ii {
      &-1 {
        height: 19%;
        left: 29%;
        top: 28%;

        &.inactive-card {
          left: 26%;
          top: -11%;
        }
      }

      &-2 {
        height: 21%;
        left: 13%;
        top: 36%;

        &.inactive-card {
          left: -8%;
          top: 2%;
        }
      }

      &-3 {
        height: 19%;
        left: 72%;
        top: 53%;

        &.inactive-card {
          left: 86%;
          top: 112%;
        }
      }

      &-4 {
        height: 22%;
        right: 18%;
        top: 80%;

        &.inactive-card {
          right: 0%;
          top: 113%;
        }
      }

      &-5 {
        height: 14%;
        left: 33%;
        bottom: 37%;

        &.inactive-card {
          left: 41%;
          bottom: 95%;
        }
      }

      &-6 {
        height: 21%;
        bottom: -6%;
        left: 19%;

        &.inactive-card {
          bottom: -31%;
          left: -8%;
        }
      }
      &-7 {
        height: 17%;
        left: 18%;
        top: 58%;

        &.inactive-card {
          left: -10%;
          top: 64%;
        }
      }

      &-8 {
        height: 22%;
        left: 73%;
        top: 27%;

        &.inactive-card {
          left: 73%;
          top: -14%;
        }
      }

      &-9 {
        height: 13%;
        right: 4%;
        bottom: 7%;

        &.inactive-card {
          right: -18%;
          bottom: -2%;
        }
      }

      &-10 {
        height: 19%;
        bottom: 36%;
        right: 7%;

        &.inactive-card {
          bottom: 30%;
          right: -15%;
        }
      } 
      &-11 {
        height: 19%;
        bottom: 6%;
        left: 32%;

        &.inactive-card {
          bottom: -36%;
        }
      } 
    }
    &.ss {
      &-1 {
        height: 32%;
        right: 8%;
        top: 56%;

        &.inactive-card {
          right: -28%;
          top: 20%;
        }
      }

      &-2 {
        height: 33%;
        left: 23%;
        top: 35%;

        &.inactive-card {
          left: -8%;
          top: -14%;
        }
      }

      &-3 {
        height: 25%;
        left: 29%;
        top: 72%;

        &.inactive-card {
          top: 112%;
        }
      }
    }
    &.bw {
      &-1 {
        height: 28%;
        right: 18%;
        top: 47%;

        &.inactive-card {
          right: -20%;
          top: 67%;
        }
      }

      &-2 {
        height: 28%;
        left: 21%;
        top: 68%;

        &.inactive-card {
          left: -12%;
          top: 115%;
        }
      }

      &-3 {
        height: 35%;
        right: 1%;
        top: 38%;

        &.inactive-card {
          right: -21%;
          top: 15%;
        }
      }

      &-4 {
        height: 32%;
        left: 25%;
        top: 33%;

        &.inactive-card {
          left: -7%;
          top: 11%;
        }
      }

      &-5 {
        height: 29%;
        right: 0%;
        bottom: -10%;

        &.inactive-card {
          right: 10%;
          bottom: -45%;
        }
      }

      &-6 {
        height: 28%;
        bottom: 11%;
        right: 2%;
      }  
    }
    &.hw {
      &-1 {
        height: 28%;
        right: 21%;
        top: 30%;

        &.inactive-card {
          right: 30%;
          top: -15%;
        }
      }

      &-2 {
        height: 35%;
        left: 21%;
        top: 35%;

        &.inactive-card {
          left: 15%;
          top: -20%;
        }
      }

      &-3 {
        height: 31%;
        right: 18%;
        top: 69%;

        &.inactive-card {
          right: 10%;
          top: 115%;
        }
      }

      &-4 {
        height: 32%;
        right: 1%;
        top: 49%;

        &.inactive-card {
          right: -22%;
        }
      }

      &-5 {
        height: 38%;
        left: 27%;
        bottom: -14%;

        &.inactive-card {
          left: -10%;
          bottom: 0%;
        }
      } 
    }
    &.ns {
      &-1 {
        height: 25%;
        left: 25%;
        top: 72%;

        &.inactive-card {
          left: -12%;
          top: 77%;
        }
      }

      &-2 {
        height: 32%;
        left: 21%;
        top: 35%;

        &.inactive-card {
          left: -15%;
          top: 10%;
        }
      }

      &-3 {
        height: 44%;
        right: 10%;
        top: 42%;

        &.inactive-card {
          right: 5%;
          top: -24%;
        }
      }

      &-4 {
        height: 18%;
        right: 6%;
        top: 80%;

        &.inactive-card {
          right: -16%;
          top: 110%;
        }
      }

      &-5 {
        height: 38%;
        left: 27%;
        bottom: -14%;
      } 
    }  
  }
}
